<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FileDownloader</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='margin-helpers.css')}}">
</head>
<body>
    <div class="container mt-3">
        <h1 class="is-size-3 has-text-primary">Remote Downloader</h1>
        <form action="/add-url" method="post">
            <div class="is-flex">
                <input class="input is-medium is-primary" placeholder="Add an URL" type="text" name="url"
                    id="input-url">
                <button class="button is-medium is-primary ml-3" type="submit">Add URL</button>
            </div>
        </form>
        <table class="table is-fullwidth mt-3">
            <thead>
                <tr>
                    <td>Url</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for url in downloads %}
                <tr>
                    <td class="is-family-monospace">{{url}}</td>

                    {% if loop.index == 1 %}
                    <td>
                        <progress class="progress is-primary is-medium"></progress>
                    </td>
                    {% else %}
                    <td>
                        <progress class="progress is-primary is-medium" value="0"></progress>
                    </td>
                    {% endif %}

                    <td>
                        <form action="/delete-url" method="post">
                            <input type="text" value="{{url}}" name="url" hidden>
                            <button type="submit" class="delete"></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>