<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FileDownloader</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='margin-helpers.css')}}">
</head>
<body>
    <div class="container mt-3">
        <h1 class="is-size-3 has-text-primary">Remote Downloader</h1>
            <div class="is-flex">
                <input class="input is-medium is-primary" placeholder="Add an URL" type="text" name="url"
                    id="input-url">
                <button class="button is-medium is-primary ml-3" type="button" onclick="addURL()">Add URL</button>
            </div>
        <table class="table is-fullwidth mt-3">
            <thead>
                <tr>
                    <td>Url</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="table">
                <tr id="base-row" hidden>
                    <td class="url is-family-monospace"></td>
                    <td>
                        <progress class="progress is-primary is-medium"></progress>
                    </td>
                    <td>
                        <input type="text" name="url" hidden>
                        <button type="submit" class="delete"></button>
                    </td>
                </tr>
                {% for url in downloads %}
                <tr>
                    <td class="url is-family-monospace">{{url}}</td>
                    <td>
                        <progress class="progress is-primary is-medium"></progress>
                    </td>
                    <td>
                        <input type="text" name="url" hidden>
                        <button type="submit" class="delete"></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>